/*----------*/
/* Generics */

h1 {
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-size: 160%;
    font-weight: bold;
}

h3 {
    font-size: 160%;
}

h4 {
    font-size: 130%;
    font-weight: bold;
}

h5 {
    font-size: 130%;
}

h6 {
    font-size: 115%;
    font-weight: bold;
}

html,
body {
    background-color: var(--navy-blue);
    overflow-x: hidden;
}

.header--big {
    font-size: 300%;
}

.section--black {
    background-color: var(--black);
}

.section--yellow {
    background-color: var(--yellow-dark);
}

.item--orange-light {
    color: var(--orange-light);
}

main {
    position: relative;
}





/*----------------*/
/* Navigation bar */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    padding: 0 2rem;
    height: 6rem;
}

.navbar__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--yellow-light);
    margin-right: 4rem;
    cursor: default;
    user-select: none;
}

.navbar__logo>h3 {
    font-weight: bold;
}

.navbar__logo>span {
    font-size: 70%;
}

.navbar__links-item {
    display: block;
    height: 100%;
}

.navbar__links-item>.navbar__link {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: var(--yellow-light);
    padding: 0 1rem;
    transition: .2s;
}

.navbar__links-item>.navbar__link:hover {
    transition: .2s;
    color: var(--orange-light);
}

.navbar__links-list {
    display: flex;
    align-items: center;
    height: 100%;
}




/*-------------*/
/* Mobile Menu */

.menu__mobile {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    background-color: var(--black);
}

.menu__close {
    display: flex;
    justify-content: right;
    color: var(--yellow);
    padding: 1rem;
}

.menu__links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 5rem);
}

.menu__link {
    color: var(--yellow-light);
    text-decoration: none;
}

.menu__links-item {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.menu__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--yellow-light);
    cursor: default;
    user-select: none;
}

.menu__logo>span {
    font-size: 70%;
}





/*----------------------*/
/* Presentation section */

.presentation {
    height: calc(100vh - 6rem);
    background-image: url("../public/imgs/homepage.webp");
    background-size: 100% 100%;
}

.presentation__intro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #11050b7a;
    color: var(--yellow-light);
}

.presentation__intro>h3 {
    margin-bottom: 4rem;
}

.presentation__intro>p {
    font-size: 90%;
    width: 40rem;
    margin-bottom: 1rem;
    text-align: center;
}

.presentation__intro>a {
    color: var(--orange-light);
}

/* Informative section */

.informative {
    height: 70vh;
    padding: 4rem;
}

.informative__text {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--yellow-light);
}

.informative__text>p {
    text-align: center;
    width: 70vw;
}


/* carousel */

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

.carousel__container {
    height: 75vh;
    min-height: 600px;
    position: relative;
}

.carousel__item {
    position: absolute;
    opacity: 0;
    border-radius: 2px;
    box-shadow: 0 2px 8px -2px var(--blue-dark);
}

.carousel__item.active {
    opacity: 1;
    width: 600px;
    height: 600px;
    z-index: 10;
    animation: carousel-active 4s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel__item.next,
.carousel__item.prev {
    opacity: 1;
    width: 400px;
    height: 400px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel__item.next {
    right: 0;
    animation: carousel-next 4s ease-in-out;
    animation-fill-mode: forwards;
}

.carousel__item.prev {
    left: 0;
    animation: carousel-prev 4s ease-in-out;
    animation-fill-mode: forwards;
}

.carousel__item.next::after,
.carousel__item.prev::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.carousel__item img {
    width: 100%;
    height: 600px;
    border-radius: 2px;
}

.carousel__item.next img,
.carousel__item.prev img {
    height: 400px;
}

.carousel__item .carousel__text {
    display: none;
}

.carousel__item.active .carousel__text {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - 10px);
    padding: 2rem;
    height: calc(100% - 10px);
    text-align: center;
    position: absolute;
    background-color: #11050b7a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* Footer */

.footer__container {
    color: var(--black);
    padding: 8rem;
    display: flex;
    justify-content: space-between;
}

.footer__col>h4 {
    margin-bottom: 4rem;
}

.footer__col>ul>li {
    margin-bottom: .4rem;
}

.footer__copyright {
    padding: 1.6rem;
    text-align: center;
    color: var(--yellow-light);
    background-color: var(--black);
    font-size: 80%;
}





/* Card */

.card-board {
    background-image: url(../public/imgs/cards/card-board-bg-1.webp);
    background-size: 100% 100%;
    background-attachment: fixed;
    color: var(--orange-light);
}

.card {
    position: relative;
    height: 600px;
    background-image: linear-gradient(4deg, #11050bd2 30%, #11050bef 30%);
}

.card.card--reverse {
    background-image: linear-gradient(4deg, #11050bef 80%, #11050bd2 80%);
}

.card:first-child {
    padding: 20rem 0;
}

.card:last-child {
    padding-bottom: 20rem;
}

.card .card__image {
    position: relative;
    height: 50vh;
    max-width: 900px;
    max-height: 600px;
}

.card .card__image .image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .card__image .image__overlay {
    z-index: 5;
    background-image: linear-gradient(to right, #11050b77 60%, #11050bd7);
}

.card.card--reverse .card__image .image__overlay {
    background-image: linear-gradient(to left, #11050b77 60%, #11050bd7);
}

.card .card__image img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.card .card__container {
    clear: both;
    float: left;
    position: relative;
    width: 100%;
}

.card.card--reverse .card__image {
    float: right;
}

.card .card__text {
    position: absolute;
    width: 50%;
    z-index: 10;
    background-color: #11050bb0;
    box-shadow: 0px 0px 6px -2px var(--blue);
    border-radius: 2px;
    padding: 2rem;
    top: 50%;
    transform: translate(0, -50%);
}

.card:not(.card--reverse) .card__text {
    left: 450px;
}

.card.card--reverse .card__text {
    right: 450px;
}

.card__text p:not(:last-child) {
    padding-bottom: 2rem;
}





/* Animations */

@keyframes carousel-active {
    0% {
        opacity: 0;
        transform: translate(0%, -50%);
    }

    8% {
        opacity: 1;
    }

    15% {
        transform: translate(0%, -50%);
    }

    25% {
        transform: translate(-50%, -50%);
    }

    95% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes carousel-next {
    0% {
        opacity: 0;
        transform: translate(0%, -50%);
    }

    8% {
        opacity: 1;
    }

    15% {
        transform: translate(25%, -50%);
    }

    30% {
        transform: translate(-50%, -50%);
    }

    95% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes carousel-prev {
    0% {
        opacity: 0;
        transform: translate(50%, -50%);
    }

    8% {
        opacity: 1;
    }

    15% {
        transform: translate(25%, -50%);
    }

    30% {
        transform: translate(50%, -50%);
    }

    95% {
        opacity: 1;
        transform: translate(50%, -50%);
    }

    100% {
        transform: translate(50%, -50%);
        opacity: 0;
    }
}