@media screen and (max-width: 968px) {

    /* Mobile menu */
    .navbar {
        align-items: center;
        flex-direction: column;
        height: auto;
        position: relative;
    }
    .navbar__logo {
        margin: 1rem 0;
    }
    .navbar__links {
        display: none;
    }
    .navbar__menu {
        margin-left: .6rem;
        border-radius: 2px;
        width: 3rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
        transition: .3s;
    }
    .navbar__menu > div {
        border-top: solid 1.5px var(--yellow-light);
        border-bottom: solid 1.5px var(--yellow-light);
        width: 2rem;
        border-radius: 2px;
        background-color: var(--yellow-light);   
    }
    .navbar__bread--top {
        margin-top: .3rem;
        margin-bottom: .3rem;
    }
    .navbar__cheese {
        margin-bottom: .3rem;
    }
    .navbar__bread--bottom {
        margin-bottom: .3rem;
    }
    .navbar__menu > div.active {
        border-color: var(--orange-light);
        transition: .3s;
    }
    .menu__mobile.active {
        display: block;
        opacity: 0;
        animation: mobile-menu-toggle .5s ease-in-out;
        animation-fill-mode: forwards;
    }

    

    /* Presentation */

    .presentation__intro > h3 {
        text-align: center;
        margin-bottom: 5rem;
    }
    .presentation__intro > p {
		width: 90%;
        text-align: center;
        margin-bottom: 2.5rem;
    }



    /* Carousel */
    .carousel__item.active {
        width: 300px;
        height: 300px;
    }
    .carousel__item.next,
    .carousel__item.prev {
        width: 200px;
        height: 200px;
    }
    .carousel__item img {
        height: 300px;
    }
    
    .carousel__item.next img,
    .carousel__item.prev img {
        height: 200px;
    }

    .carousel,
    .carousel__container {
        height: 80vh;
    }




    /* Footer */

    .footer__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__col > h4 {
        margin-bottom: 1rem;
    }

    .footer__col:not(:last-child) {
        margin-bottom: 6rem;
    }
    
    .footer__col > ul > li {
        margin-bottom: .6rem;
    }




    /* Card */

    .card-board {
        background-image: url(../public/imgs/cards/card-board-bg-1.webp);
        background-size: 100% 100%;
        background-attachment: fixed;
        color: var(--orange-light);
    }
    
    .card,
    .card.card--reverse {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
        background-color: #11050bde;
    }
    
    .card:first-child {
        padding: 10rem 0;
    }
    
    .card:last-child {
        padding-bottom: 10rem;
    }
    
    .card .card__image {
        box-sizing: border-box;
    }
    
    .card .card__container {
        padding: 1rem;
        clear: initial;
        float: initial;
        position: initial;
        width: initial;
        display: flex;
        flex-direction: column;
    }
    
    
    .card .card__text {
        padding: 2rem;
        font-size: 75%;
        position: initial;
        transform: translate(0, 0);
        box-shadow: none;
        background-color: initial;
    }
    
    .card .card__text {
        top: initial;
        left: initial;
        box-sizing: border-box;
        width: 100%;
    }



    /* Mobile animation */

    @keyframes carousel-active {
        0% {
            opacity: 0;
            transform: translate(0%, -50%);
        }
        8% {
            opacity: 1;
        }
        15% {
            transform: translate(0%, -50%);
        }
        25% {
            transform: translate(-50%, -50%);
        }
        95% {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
        100% {
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }
    @keyframes carousel-next {
        0% {
            opacity: 0;
            transform: translate(0%, -50%);
        }
        8% {
            opacity: 1;
        }
        15% {
            transform: translate(25%, -50%);
        }
        30% {
            transform: translate(10%, -50%);
        }
        95% {
            transform: translate(10%, -50%);
            opacity: 1;
        }
        100% {
            transform: translate(10%, -50%);
            opacity: 0;
        }
    }
    @keyframes carousel-prev {
        0% {
            opacity: 0;
            transform: translate(50%, -50%);
        }
        8% {
            opacity: 1;
        }
        15% {
            transform: translate(25%, -50%);
        }
        30% {
            transform: translate(-10%, -50%);
        }
        95% {
            opacity: 1;
            transform: translate(-10%, -50%);
        }
        100% {
            transform: translate(-10%, -50%);
            opacity: 0;
        }
    }
}

@keyframes mobile-menu-toggle {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}