/*----------*/
/* Generics */

h1 {
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-size: 160%;
    font-weight: bold;
}

h3 {
    font-size: 160%;
}

h4 {
    font-size: 130%;
    font-weight: bold;
}

h5 {
    font-size: 130%;
}

h6 {
    font-size: 115%;
    font-weight: bold;
}

html, body {
    background-color: var(--navy-blue);
    overflow-x: hidden;
}

.header--big {
    font-size: 300%;
}

.section--black {
    background-color: var(--black);
}

.item--orange-light {
    color: var(--orange-light);
}

main {
    position: relative;
}





/*----------------*/
/* Navigation bar */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    padding: 0 2rem;
    height: 6rem;
}
.navbar__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--aqua);
    margin-right: 4rem;
    cursor: default;
    user-select: none;
}
.navbar__logo > h3 {
    font-weight: bold;
}
.navbar__logo > span {
    font-size: 70%;
}

.navbar__links-item {
    display: block;
    height: 100%;
}

.navbar__links-item > .navbar__link {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: var(--aqua);
    padding: 0 1rem;
    transition: .2s;
}

.navbar__links-item > .navbar__link:hover {
    transition: .2s;
    color: var(--yellow-light);
}

.navbar__links-list {
    display: flex;
    align-items: center;
    height: 100%;
}




/*-------------*/
/* Mobile Menu */

.menu__mobile {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    background-color: var(--black);
}

.menu__close {
    display: flex;
    justify-content: right;
    color: var(--yellow);
    padding: 1rem;
}

.menu__links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 5rem);
}

.menu__link {
    color: var(--aqua);
    text-decoration: none;
}

.menu__links-item {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.menu__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--aqua);
    cursor: default;
    user-select: none;
}

.menu__logo > span {
    font-size: 70%;
}





/*----------------------*/
/* Presentation section */

.presentation {
    height: calc(100vh - 6rem);
    background-image: url("../public/imgs/homepage.webp");
    background-size: 100% 100%;
    padding: 0 4rem;
}

.presentation__intro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #11050b7a;
    color: var(--yellow-light);
}

.presentation__intro > h3 {
    margin-bottom: 2rem;
}

.presentation__intro > p {
    font-size: 90%;
    margin-bottom: .5rem;
    text-align: center;
}

.presentation__intro > a {
    color: var(--orange-light);
}

/* Informative section */

.informative {
    height: 50vh;
    padding: 0 4rem;
}

.informative__text {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--yellow-light);
}

.informative__text > p {
    text-align: center;
    width: 70vw;
}


/* carousel */

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.carousel__container {
    height: 75vh;
    min-height: 600px;
    position: relative;
}

.carousel__item {
    position: absolute;
    opacity: 0;
    border-radius: 2px;
    box-shadow: 0 2px 8px -2px var(--blue-dark);
}

.carousel__item.active {
    opacity: 1;
    width: 600px;
    height: 600px;
    z-index: 10;
    animation: carousel-active 4s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel__item.next,
.carousel__item.prev {
    opacity: 1;
    width: 400px;
    height: 400px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel__item.next {
    right: 0;
    animation: carousel-next 4s ease-in-out;
    animation-fill-mode: forwards;
}

.carousel__item.prev {
    left: 0;
    animation: carousel-prev 4s ease-in-out;
    animation-fill-mode: forwards;
}

.carousel__item.next::after,
.carousel__item.prev::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.carousel__item img {
    width: 100%;
    height: 600px;
    border-radius: 2px;
}

.carousel__item.next img,
.carousel__item.prev img {
    height: 400px;
}

.carousel__item .carousel__text {
    display: none;
}

.carousel__item.active .carousel__text {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - 10px);
    padding: 2rem;
    height: calc(100% - 10px);
    text-align: center;
    position: absolute;
    background-color: #11050b7a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Card Board */

.card-board {

}




/* Animations */

@keyframes carousel-active {
    0% {
        opacity: 0;
        transform: translate(0%, -50%);
    }
    8% {
        opacity: 1;
    }
    15% {
        transform: translate(0%, -50%);
    }
    25% {
        transform: translate(-50%, -50%);
    }
    95% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}
@keyframes carousel-next {
    0% {
        opacity: 0;
        transform: translate(0%, -50%);
    }
    8% {
        opacity: 1;
    }
    15% {
        transform: translate(25%, -50%);
    }
    30% {
        transform: translate(-50%, -50%);
    }
    95% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}
@keyframes carousel-prev {
    0% {
        opacity: 0;
        transform: translate(50%, -50%);
    }
    8% {
        opacity: 1;
    }
    15% {
        transform: translate(25%, -50%);
    }
    30% {
        transform: translate(50%, -50%);
    }
    95% {
        opacity: 1;
        transform: translate(50%, -50%);
    }
    100% {
        transform: translate(50%, -50%);
        opacity: 0;
    }
}