:root {
    --aqua: #9cfcfd;
    --blue-light: #20bce3;
    --blue-dark: #2671ba;
    --blue: #24a1d4;
    --navy-blue: #112144;
    --yellow-dark: #e2b23f;
    --yellow-light: #fdf8a3;
    --yellow: #fee562;
    --orange-dark: #ad4427;
    --orange-light: #e9862a;
    --orange: #ce6824;
    --black: #11050b;
}
